body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

header {
    height: auto;
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    overflow: hidden;
}

#logoymenu {
    height: auto;
    display: flex;
    justify-content: space-between;
}

#logito {
    display: flex;
    align-items: center;
    height: 10vh;
}

#logo {
    font-size: 300%;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Russo One", sans-serif;
    font-size: 150%;
    text-shadow: 2px 2px 8px black;

}

ul {
    margin: 0;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2px;
    width: 80vw;
    height: 10vh;

}

li {
    text-align: center;
    width: 20%;
    font-size: 90%;
}

#check {
    display: none;
}

.checkbtn {
    font-size: 220%;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    text-shadow: 2px 2px 8px black;
    display: none;
}

#Inicio {
    width: 100%;
    height: 100%;
    background-image: url('img/icebergfondo.jpg');
    /* Cambia la ruta por la ubicación de tu imagen */
    background-size: cover;
    /* Cubre toda el área disponible sin distorsionar la imagen */
    background-position: center;
    /* Centra la imagen */
    background-attachment: fixed;
    overflow-x: hidden;
    /* Evita la aparición de barras de desplazamiento horizontal */
    display: flex;
    justify-content: center;
    align-items: center;

}

#Inicio h1 {
    /*font-size: 4em;*/
    color: white;
    font-family: "Russo One", sans-serif;
    text-shadow: 1px 1px 20px rgb(7, 24, 43);
    font-size: 200%;

}

section {
    text-align: center;
    height: 100vh;
    font-family: "Trade Winds", system-ui;
    font-size: 1.8em;
    background-color: black;
    overflow: hidden;
    color: white;
}

#t2,
#t3,
#t4,
#t5 {
    padding-top: 1em;
    padding-bottom: 0.1em;
    margin-bottom: 0.1em;
    text-shadow: 2px 2px 8px black;
}


#conatiner-acerca-de-mi {
    display: flex;
    justify-content: space-around;
    max-height: 60vh;

}

#conatiner-acerca-de-mi img {
    width: 40%;
    height: auto;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    background-attachment: fixed;
}

#Que-hacer {
    background-image: url(img/northern-lights2.jpg);
    background-size: cover;
    /* Cubre toda el área disponible sin distorsionar la imagen */
    background-position: center;
    /* Centra la imagen */
    background-attachment: fixed;
}

.container-que-hacer {
    flex-wrap: wrap;
}

.container-que-hacer img {
    width: 23%;
    margin: 0 0.5em 0 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-que-hacer img:hover {
    opacity: 100%;
    transform: scale(1.05);
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
}

#Ubicacion {
    background-image: url(img/northern-lights.jpg);
    background-size: cover;
    /* Cubre toda el área disponible sin distorsionar la imagen */
    background-position: center;
    /* Centra la imagen */
    background-attachment: fixed;
}

.section-contenedor {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
    padding-bottom: 2em;
}

.section-contenedor-1 p {
    font-size: 0.8em;
    width: 50vw;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-justify: auto;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    text-shadow: 2px 2px 8px black, 2px 2px 8px black;
}

.section-contenedor iframe {
    width: 40vw;
    height: 11em;
    padding: 0em 2.5em;

}

footer {
    background-color: black;
    height: 10em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Formulario*/

.container {
    max-width: 450px;
    margin: 5px auto;
    padding: 0 10px 10px 10px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 10px;
    max-width: 100%;
    background-color: black;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    width: 94%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 0.5em;
}

textarea {
    resize: vertical;
    font-size: 0.5em;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: white;
    font-family: "Trade Winds", system-ui;
    font-size: 1em;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

#parrafo {
    color: red;
    font-size: 10px;
    text-align: center;
}


/*MEDIA QUERIES RESPONSIVE MENU HAMBURGUESA*/

@media (max-width: 768px) {
    header {
        height: auto;
        background-color: rgb(3, 3, 97);
        overflow: visible;
        opacity: 90%;
    }

    #logoymenu {
        height: auto;
        display: flex;
        justify-content: space-between;
        /*flex-wrap: wrap;*/
        position: relative;
    }

    #logito,
    .checkbtn {
        height: 10vh;
    }

    .checkbtn {
        display: inline-block;
        cursor: pointer;
        align-items: center;
    }

    .check:checked+ul {
        height: 90vh;
        left: -10px;
        transition: all 0.8s;
    }

    #caja:target {
        background-color: black;
    }

    ul {
        background-color: rgb(38, 99, 160);
        width: 100vw;
        position: absolute;
        top: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        gap: 1.5em;
        height: 0;
        overflow: hidden;
    }

    li {
        margin: 0;
        font-size: 1.5em;
        width: 100%;
    }


    /*ACERCA DE MI RESPONSIVE*/
    section {
        text-align: center;
        height: 100vh;
        padding-top: 2em;
        font-family: "Trade Winds", system-ui;
        font-size: 1.8em;
        background-color: black;
        overflow: hidden;
        color: white;
    }

    #t2,
    #t3,
    #t4,
    #t5 {
        font-size: 80%;
        padding-top: 1em;
        padding-bottom: 0;
        margin-bottom: 0;
        text-shadow: 2px 2px 8px black;
    }

    #conatiner-acerca-de-mi {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        overflow: visible;

    }

    #conatiner-acerca-de-mi img {
        width: 55%;
        height: 30vh;
        margin-top: 0;
        margin-bottom: 0;
        background-attachment: fixed;
        margin: 0.5em;
    }

    /*FIN ACERCA DE MI RESPONSIVE*/

    /*SECCION UBICACION*/

    .section-contenedor {
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
        padding-bottom: 0;
    }

    .section-contenedor-1 p {
        font-size: 0.6em;
        width: 100%;
        padding: 0em 0.5em 0.5em 0.5em;
    }

    .section-contenedor iframe {
        width: 50%;
        height: 6em;

    }
    /*FIN SECCION UBICACION*/

    /*SECCION QUE HACER*/

    
    .container-que-hacer img {
        width: 40%;
        margin: 0 0.2em 0 0.2em;
    }
}